*,
*::before,
*::after {
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* !!!!!!!!!!!!!!!!!!! */


.feedback-form {
    border-radius: 8px;
    width: 408px;
    height: 296px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}   

body {

box-sizing: border-box;
}


.inpEmail {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding: 8px;
}

.inpEmail:hover {
  border: 1px solid #000;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.inpEmail:active {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.inpForm {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.txtInput {
  padding: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  resize: none;
  margin-bottom: 8px;
}

.btnForm {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
}

.btnForm:hover {
  background: #6c8cff;
}